<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<%= react_component('CommentBox') %>
<%= react_component('CommentBox1', url: "/hoge/1") %>
<%= react_component('HogeHoge', url: "/hoge/1") %>
<%= react_component('Label', label: "ラベルの名前") %>
